@model IEnumerable<Cibertec.Models.Customers>

@{
    ViewBag.Title = "Customer Index";
}



@*@Html.Partial("_List")*@

<div class="content"></div>

@modal.GetModal("Customer","customer.closeModal();")

<script src="~/Scripts/jquery.bootpag.min.js"></script>
<script src="~/App_JS/cibertec.js"></script>
<script src="~/App_JS/customer.js"></script>
@*Script para el SignalR*@
<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
<script src="/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        var customerHub = $.connection.customerHub;
        $.connection.hub.start().done(function () {
            console.log("Connected to Hub...");
        });
    })
</script>