@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post,
        new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    }
}
else
{
        <li>
            @Html.ActionLink("Log In", "Login", "Account",
            routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
}
