@if (Request.IsAuthenticated)
{
    <li class="active">
        <a href="#" title="Application Intel" data-filter-tags="application intel">
            <i class="fal fa-edit"></i>
            <span class="nav-link-text" data-i18n="nav.application_intel">Mantenimiento</span>
        </a>
        <ul>
            <li>
                @Html.ActionLink("Clientes", "Index", "Customer")
            </li>
            <li>
                @Html.ActionLink("Productos", "Index", "Products")
            </li>
        </ul>
    </li>
    <li class="active">
        <a href="#" title="Application Intel" data-filter-tags="application intel">
            <i class="fal fa-chart-line"></i>
            <span class="nav-link-text" data-i18n="nav.application_intel">Report</span>
        </a>
        <ul>
            <li>
                @Html.ActionLink("Ordenes", "Index", "Orders")
            </li>
            <li>
                @Html.ActionLink("Ventas", "Index", "CabeceraCotizacion")
            </li>
        </ul>
    </li>
}