@model IEnumerable<Cibertec.Models.Products>

@{
    ViewBag.Title = "Products Index";
}

@Messages.AlertMessages()
@*@Html.Partial("_List")*@

<div class="content"></div>

@modal.GetModal("Products", "cibertec.closeModal();")

<script src="~/App_JS/cibertec.js"></script>
<script src="~/App_JS/products.js"></script>

@*Script para el SignalR*@
<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
<script src="/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        var productsHub = $.connection.productsHub;
        $.connection.hub.start().done(function () {
            console.log("Connected to Hub...");
        });
    })
</script>